.fish-store-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.fish-store-container h2 {
    color: #333;
    font-size: 28px;
}

.fish-store-container p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.fish-store-container h3 {
    color: #333;
    font-size: 24px;
    margin-top: 20px;
}

.fish-store-container ol {
    list-style: none;
    counter-reset: section;
}

.fish-store-container li {
    counter-increment: section;
    margin-bottom: 20px;
}

.fish-store-container li strong {
    font-weight: bold;
}

.fish-store-container li p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.fish-store-container li img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.password-image1,
.password-image2 {
    max-width: 300px; /* Adjust the maximum width as needed */
    max-height: 200px; /* Adjust the maximum height as needed */
    margin: 20px; /* Adjust the margin as needed */
    text-align: center;
}

.password-image3 ,.weather,.mp3,.tictactoe{
    max-width: 500px; /* Adjust the maximum width as needed for the third image */
    max-height: 400px; /* Adjust the maximum height as needed for the third image */
    margin: 20px; /* Adjust the margin as needed for the third image */
    text-align: center;
}
/* Responsive styles */
@media screen and (max-width: 600px) {
    .password-images-container {
        flex-direction: column; /* Stack images vertically on small screens */
    }

    .password-image1,
    .password-image2,
    .password-image3,
    .weather,
    .mp3,
    .tictactoe {
        max-width: 100%; /* Make images fill the container width on small screens */
    }
}
