.project:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adăugăm o umbră la survol */
}

.projects-container {
    max-width: 800px;
    margin: 0 auto;
}

.project {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out; /* Adăugăm o tranziție pentru umbră */
}

.project img {
    max-width: 200px;
    margin-right: 20px;
}

.project-details {
    flex: 1;
    color: #555;
}

.project a {
    text-decoration: none;
    color: inherit;
}



/* Media query pentru stilizare responsivă */
@media screen and (max-width: 600px) {
    .project {
        flex-direction: column; /* Așezare verticală la ecrane mici */
    }
    .project img {
        max-width: 100%; /* Imaginea să nu depășească lățimea containerului */
        margin-bottom: 10px;
    }
}
